<% content_for :title, "Editing meeting" %>

<h1>Editing meeting</h1>

<%= render "form", meeting: @meeting %>

<% content_for :sidebar do %>
  <div class="card">
    <div class="card-header">
      Actions
    </div>
    
    <div class="card-body">
      <div class="btn-group-vertical gap-2" role="group" aria-label="Vertical button group">
        <%= link_to "Show this meeting", [:admin, @meeting], class: "btn btn-primary" %>
        <%= link_to "Back to meetings", admin_meetings_path, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>