<%= simple_form_for [:admin, @meeting_type], html: { class: "d-flex align-items-center" } do |f| %>

  <div class="flex-grow-1 me-2">
    <%= f.input :name, label: false, placeholder: "Enter meeting type name", input_html: { class: "form-control" } %>
  </div>

  <%= f.button :submit, "Save", class: "btn btn-primary btn-sm", title: "Save" %>

  <%= link_to "Cancel", admin_meeting_types_path, class: "btn btn-secondary btn-sm", title: "Cancel" %>
<% end %>
