<h5 class="card-title">Available Hours</h5>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Day</th>
      <th>Available Hours</th>
    </tr>
  </thead>
  <tbody>
    <% meeting.free_hours.each do |day, hours| %>
      <tr>
        <td><%= day %></td>
        <td>
          <%= hours.map { |h| "#{h[0].strftime("%I:%M %p")} - #{h[1].strftime("%I:%M %p")}" }.join("; ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>