<% content_for :title, "Parent Meetings" %>

<ul class="nav nav-tabs">
  <% @teachers.each do |teacher| %>
    <li class="nav-item">
      <%= link_to teacher.email, parent_parent_meetings_path(teacher_id: teacher.id), class: "nav-link #{'active' if @current_teacher_id == teacher.id}"  %>
    </li>
  <% end %>
</ul>
<div class="content">
  <%= render "meetings", meetings:  @meetings %>
  <%= will_paginate  @meetings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %> 
</div> 



<% content_for :sidebar do %>
  
  <div class="card">  
    <div class="card-header">
      Your children:
    </div>
    <div class="card-body">
        List
    </div>
  </div>
  Your bookings:
  <% @parent_meetings.each do |parent_meeting| %>
    <%= render "parent_meeting", parent_meeting: parent_meeting %>
  <% end %>

<% end %>


