<div id="<%= dom_id current_user_to_edit %>">
  <p>
    <strong>Full name:</strong>
    <%= current_user_to_edit.full_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= current_user_to_edit.type %>
  </p>

</div>
