<% content_for :title, "Editing meeting hour" %>

<h1>Editing meeting hour</h1>

<%= render "form", meeting_hour: @meeting_hour %>

<br>

<div>
  <%= link_to "Show this meeting hour", @meeting_hour %> |
  <%= link_to "Back to meeting hours", meeting_hours_path %>
</div>
